@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Comfortaa", cursive;
  color: white;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 72, 121, 0.8333185369318181) 35%,
    rgba(2, 153, 216, 1) 79%,
    rgba(2, 159, 220, 1) 83%,
    rgba(0, 212, 255, 1) 100%
  );
}

.weather-app {
  margin: 0 20px;
}
